:root {
    --primari-brand-text-color:#4D5AE5;
    --primari-bg-color:#fff;
    --link-text-color:#4D5AE5;
    --body-text-color:#434455;
    --heading-text-color:#2E2F42;
    --buttons-color:404BBF;
    --default-color:FFFFFF;
}
body {
    color:var(--body-text-color) ;
    background-color: var(--primari-bg-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
.list { list-style: none;}
.logo {
    color:var(--heading-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.accent {
    color: var(--link-text-color);
}
.logo:hover {
    color: var(--link-text-color);
}

/* Site nav */
.site-nav .link{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--heading-text-color);
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
   color: var(--link-text-color);
}
.auth-nav .link{
  color: var(--body-text-color);
    text-decoration: none;
}
.auth-nav .link:hover {
    background-color: #E7E9FC;
}
.auth-nav .link:focus 
.contact-link {
    font-weight: 400;

}

/* Hero */
.hero{background-color: #2E2F42;
}
.hero-title {
   font-style: normal;
   font-weight: 600;
   font-size: 56px;
   line-height: 1.07;
   text-align: center;
   letter-spacing: 0.02em;
    color:  #FFFFFF;
}
.section-title {
    color: #2E2F42;
    ;
}
/* Преимущества */
.feature-list {
    color: #434455;
}
.feature-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--heading-text-color);
}
.feature-text

/* Button */
.button{
    color:var(--buttons-color) ;
    background-color: var(--default-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}
.button:hover {background-color: var(--link-text-color);
color: var(--primari-bg-color);
}
.project-list .link {
    text-decoration: none;
}
.logo-footer {
    color:var(--primari-bg-color);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.foter-text {
    position: absolute;
    width: 264px;
    height: 72px;
    left: 156px;
    top: 2421px;
    color: #E7E9FC;
}
