:root {
    --primari-brand-text-color:#4D5AE5;
    --primari-bg-color:#fff;
    --link-text-color:#4D5AE5;
    --body-text-color:#434455;
    --heading-text-color:#2E2F42;
    --buttons-color:404BBF;
    --default-color:FFFFFF;
}
body {
    color:var(--body-text-color) ;
    background-color: var(--primari-bg-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.02em;
}
.header {
font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.list { list-style: none;}
.logo {
    color:var(--heading-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.33;
    letter-spacing: 0.03em;
}
.logo-start {
    color: var(--link-text-color);
}
.logo:hover {
    color: var(--link-text-color);
}

/* Site nav */
.site-nav .link{
    color: var(--heading-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--link-text-color);
}
.auth-nav {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
}
.auth-nav .link:hover {
    background-color: #E7E9FC;
},
.auth-nav .link:focus,
/* Hero */
.hero-title {
    color:  #FFFFFF;
}
.section-title {
    color: #2E2F42;
    ;
}
/* Преимущества */
.feature-list {
    color: #434455;
}
.title {
    color: var(--heading-text-color);
}
/* Button */
.button{
    color:var(--buttons-color) ;
    background-color: var(--default-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}
.button:hover {background-color: var(--link-text-color);
color: var(--primari-bg-color);
}